
//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #2780e3 !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #ff0039 !default;
$orange:  #f0ad4e !default;
$yellow:  #ff7518 !default;
$green:   #3fb618 !default;
$teal:    #20c997 !default;
$cyan:    #9954bb !default;

$new-dark-blue: #00233D !default;
$new-orange: #ff9f2b !default;
$new-green: #004f58 !default;

$dark-green: #20595d !default;
$light-green: #2b6165 !default;
$tan: #e6e67b !default;
$dark-purple: #282a36 !default;
$blue-1: #193048 !default;
$blue-2: #161d30 !default;
$blue-3: #262939 !default;
$blue-4: #06214e !default;

$blue-5: #2d405f !default;
$blue-6: #466393 !default;

$primary:       $black !default;
$secondary:     $white !default;
$success:       $blue-1 !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$min-contrast-ratio:   2.6 !default;

// Options

$enable-rounded: false !default;

// Body

$body-color: $gray-900 !default;
$content-padding-top: 0 !default;


// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:  "Atkinson Hyperlegible", "Sen","Lato", "Overpass"  ,"Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$headings-font-weight:      400 !default;

// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-root:              15.75px !default;
$font-size-base:              1.00rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.90 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;

$line-height-base:            1.6 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;

$h1-font-size:                $font-size-base * 2.8 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

// scss-docs-end font-variables

// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

// Navbar

// scss-docs-start navbar-variables
$navbar-padding-y:                  $spacer * 0.7 !default;
$navbar-padding-x:                  null !default;

$navbar-nav-link-padding-x:         .5rem !default;

$navbar-brand-font-size:            $font-size-base * 1.50 !default;
$navbar-brand-margin-end:           0px !default;
$navbar-light-brand-hover-color:    red !default;

$navbar-bg: rgba($black, 1.0);
$navbar-fg: rgba($white, 1.0);

$navbar-dark-hover-color:       rgba($white, 1) !default;
$navbar-light-hover-color:      rgba($red, 1) !default;

// Callouts

$callout-color-note: $red;
$callout-color-tip: $red;
$callout-color-caution: $red;
$callout-color-warning: $red;
$callout-color-important: teal;

// Alerts

$alert-border-width:            0 !default;

// Progress bars

$progress-height:               .5rem !default;


/*-- scss:rules --*/


// Variables

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Fira+Code&family=Sen:wght@400;700;900&family=Nunito:wght@400;900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

/*
$web-font-path: "https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900;1000&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap'); */

// Typography

body {
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none !important;
  overflow-x: hidden;
  font-family: Sen, Atkinson Hyperlegible, Nunito, sans-serif;
  background-image: url("assets/bg-links.jpg");
  background-attachment: fixed;
  background-position: center;
}
/*
@media (min-width: 991.98px) {
.content {
  backdrop-filter: blur(10px);
  background-color: rgba(255,255,255,0.5);
  padding-left: 1em;
  padding-right: 1em;
}}*/

h1 {
  color: $white;
  opacity: 1.0 !important;
  font-family: Atkinson Hyperlegible;
}

/*
h1::after {
  content: "";
  position: relative;
  display: block;
  border: solid 4px lightblue;
  border-radius: 4px;
  margin-top: 25px;
  width: 14%;
}*/

h2 {
  color: #046065;
  font-family: Atkinson Hyperlegible;
}

.subtitle {
  font-weight: 700;
  line-height: 1.3em;
  padding-top: 8px;
  font-size: 1.05em;
  letter-spacing: 0.01em;
  color: skyblue;
}

.quarto-title-meta a {
  color: white !important;
}

.abstract-title {
  margin-bottom: 0.5em;
}

.abstract a {
  color: skyblue;
}

.abstract {
  font-size: 1em;
  font-weight: 400;
}

#toc-title {
  font-size: 1.3em;
  font-weight: bold;
}

code {
  background: lightblue;
  border-radius: 4px;
  color: #23324b;
}

div.sourceCode {
  background: white;
  border: solid #0b736670 2px;
}


// Indicators

.badge {
  &.bg-light {
    color: $tan;
  }
}

// Progress bars

.progress {
  @include box-shadow(none);

  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}




// Navbar

.navbar {
  background-image: 
    linear-gradient(to right bottom, #000000, #161014, #211b24, #272737, #25354a);
    border-bottom: solid #d3d3d3 1px;
  box-shadow: 0px 1.2px 3.6px rgba(0,0,0,0.108),
	0px 6.4px 14.4px rgba(0,0,0,0.132);
	padding: 0.3em 20px;
}


/*** MOBILE ONLY - start ***/
@media (max-width: 991.98px) {
  
    ul.navbar-nav:nth-child(1) {
    flex-direction: column;
    padding: 10px 20px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: right;
    text-align: center;
    }
  
    .navbar .navbar-toggler {
      order: -1;
      margin-right: 0em;
      padding-right: 0;
      padding-left: 0;    } 
  
    .navbar-container {
      flex-direction: row-reverse;
    }
      
    .navbar-brand-container {
      max-width: 100%;
      margin-top: 4px;
    }
  

    .navbar-collapse {
      display: flex;
      flex-basis: 100%;
      -webkit-flex-basis: 100%;
      flex-grow: 1;
      -webkit-flex-grow: 1;
      align-items: center;
      -webkit-align-items: center;
      flex-direction: row;
      gap: 0px;
      margin: 10px auto;
    }

    .about-contents {
      padding-right: 0px !important;
    }
    
    .quarto-navbar-tools {
      display: none !important;
    }

} /*** MOBILE ONLY - stop ***/


.navbar-brand span {
  font-weight: 100 !important;
  text-transform: uppercase;
  font-family: 'Sen';
}

/*
.navbar-brand span::after {
  content: "Ecology · Geospatial · Analytics";
  font-weight: 500;
  letter-spacing: 0.01em;
  display: block;
  font-size: 14px;
  margin-top: -6px;
  color: #338a94;
  text-transform: none;
}*/

// SIDEBAR

@media (max-width: 991.98px) {
  nav.quarto-secondary-nav {
    display: none;
  }
}

// HEADER

#title-block-header {
  text-align: left;
  margin-block-end: 0;
  background-image: 
    url("assets/bg-topo-white.png"),
   linear-gradient(to top right, #000000, #161014, #211b24, #272737, #25354a);
  background-blend-mode: difference;
  background-color: black;
  background-attachment: fixed;
  background-size: fit;
  background-position: top;
  padding-bottom: 2em;
  border-bottom: solid 1px #e6e6e6;
  color: white !important;
}

.quarto-title-banner {
  padding-top: 2.2em;
  padding-bottom: 0em;
  background-color: transparent;
}


// BANNER

.quarto-title .quarto-categories {
    margin-top: 20px;
    display: none;
}


// TABLES

  .rt-search {
    width: 100% !important;
    margin-top: 1.0em !important;
    margin-bottom: 1.5em !important;
    border: solid 1px $blue-5 !important;
    background: #7bcce63d !important;
  }

.rt-no-data {
  color: red !important;
  left: 50% !important;
}



/* POSTS */


/* Index listings */

div.quarto-post {
  display: flex;
  flex: 0 0 50%;
  scroll-snap-align: start;
  margin-bottom: 1.5em;
  border: none;
  background-color: $gray-300;
  color: white !important;
  padding: 20px 20px 10px 20px;
  align-items: center;
  background-image: url("assets/bg-topo-white.png");
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: difference;
}




/* Callout block */
.callout {
  background: white;
}

.callout li {
  margin-top: 1em;
}

.callout:last-of-type {
  margin-bottom: -2em !important;
}

.quarto-listing-filter {
  margin-bottom: 2em;
  width: 49.5%;
  margin-left: auto;
}

.quarto-listing-sort {
  margin-bottom: 2em;
  width: 49.5%;
  margin-right: auto;
}


.quarto-grid-item .listing-categories {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
  gap: 5px;
  padding-top: 10px;
}

.quarto-grid-item {
  background: white;
  /*background-image: url("assets/bg-topo-white.png");*/
  background-blend-mode: difference;
  background-position: center center;
  border-radius: 8px;
  border: 1px solid #46639355;
  -webkit-box-shadow: 4px 4px 4px 0 rgba(0,0,0,.1);
  box-shadow: 4px 4px 4px rgba(0,0,0,.1);
  flex-direction: column;
}

    @media (max-width: 700px) {
      .quarto-grid-item {
        flex-direction: column;
      }
    }



.listings-gallery .grid {
  row-gap: 2.2em; /* Gap for rows */
  column-gap: 1.2em; /* Gap for columns */
}

.listings-gallery .quarto-grid-item div.post-contents {
  position: absolute;
  bottom: -30px;
  left: 0;
  background: transparent;
  opacity: 0.99;
  height: 40px;
  width: 100%;
  padding: 10px 10px 0 10px !important;
  overflow: hidden;
}

.listings-gallery h5 {
  font-size: 0.8em !important;
  text-align: center;
  opacity: 1.0 !important;
  padding: 0;
  margin: 0;
  font-weight: 300 !important;
  color: black;
  white-space: nowrap; /* Prevent line breaks */
  text-overflow: ellipsis; /* Show ellipses for overflow text */
  overflow: hidden; /* Hide overflowing text */
  width: 100%; /* Limit the width to 100% or a specific value */
}

.listings-gallery .quarto-grid-item .card-title::after {
  content: none;
  display: block;
  width: 15%;
  border-top: none;
  margin-top: none;
}
/*
.quarto-grid-item .card-title::after {
  content: "";
  display: block;
  width: 15%;
  border-top: solid 6px #008080;
  margin-top: 15px;
}*/

.quarto-grid-item .card-title {
  font-weight: 600;
  margin-bottom: 10px;
  color: #104759;
}
.quarto-grid-item p.card-img-top {
  padding: 6px;
}

.quarto-grid-item p.card-img-top>img {
    border-radius: 0;
    min-height: 200px;
    overflow-clip-margin: unset;
    overflow: hidden;
}


.quarto-category {
  background: transparent;
  color: white;
  opacity: 0.6;
  padding: 0.75em 0.75em 0.75em 0.75em !important;
  line-height: 1em;
}



/* FIGURES & IMAGES */

.image-bordered {
  border-radius: 0px !important;
  border: solid 1px black;
}

.figure-caption {
  margin: -5px 10px 0px 0px;
  font-size: 0.7rem;
  text-align: center;
  color: $dark-green;
  opacity: 0.5;
}

.img-fluid,
.figure-img {
  border-radius: 4px;
  box-shadow: -2px 2px 4px 2px lightgray;
}

.padded-img {
  padding-top: 2rem;
}



/* Index */

/*
body[data-page-url="https://btjepkes.github.io/"] .quarto-title-banner {
  display: none;
}
*/



.intro-banner {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 60px;
  text-align: center;
  align-items: center;
  margin-top: calc(-1em - 18px);
  margin-bottom: 3em;
  padding-top: 3.5em;
  padding-bottom: 2em;
}

.intro-banner::before {
  content: "";
  position: absolute;
  top: -4px;
  left: calc(-50vw + 49.97%);
  width: 100vw;
  right: 0;
  height: 100%;
  background-size: cover;
  background-image: linear-gradient(to bottom, #000000, #211b24, #25354a, #005465);
  /*background-color: hsl(217, 36%, 22%); #2d405f*/
  /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23466393' fill-opacity='0.25'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");*/
  /*background-image: url("assets/bg-topo-white.png");*/
  background-position: center center;
  background-attachment: fixed;
  z-index: -1;
  margin-bottom: 0;
}

.intro-banner h1 {
  color: white;
  opacity: 1.0;
}

#quarto-content {
  min-height: auto !important;
}

#quarto-content > * {
  padding-top: 20px;
}


.intro-content {
  margin: auto;
}

@media (min-width: 991.98px) {
  .intro-content {
  max-width: 70%;
      }
}

.intro-content p {
  color: white;
  font-weight: 500;
  line-height: 1.3em;
  padding-top: 15px;
  font-size: 1.05em;
  letter-spacing: .01em;
}

.intro-content h1 {
  margin-top: 0;
}


.intro-content h1::after { 
  content: "";
  position: relative;
  display: block;
  border: solid 4px lightblue;
  border-radius: 5px;
  margin-top: 25px;
  width: 24%;
  margin-left: auto;
  margin-right: auto;
}

.intro-content h4 {
  color: white;
  font-weight: 400;
  font-size: 1.05em;
  letter-spacing: .01em;
  margin-top: 0;
}

.about {
  position: relative;
  margin-top: 3em;
  margin-bottom: 2em;
  padding-top: 30px;
  padding-bottom: 20px;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(-50vw + 50%);
  width: 100vw;
  height: 100%;
  z-index: -1;
  overflow-x: hidden;
  background-blend-mode: difference;
  background-image: url("assets/bg-dots.png");
  background-attachment: scroll;
  background-size: cover;
  background-position: center 30%;
  opacity: 0.5;
  box-shadow: 0 0 5px #f9f9f9;
}


.headshot-img {
  background: white;
  padding: 0.1em;
  border-radius: 4%;
  max-width: 320px;
  border: solid 5px teal;
}

.intro-headshot {
  position: relative;
  z-index: 999;
}

/*
@media (max-width: 991.98px) {
.headshot-img {
  background: white;
  border: teal solid;
  border-width: 8px 8px;
  border-radius: 20%;
  padding: 0.1em;
  max-width: 145px;
  margin-bottom: -35px;
  margin-left: 50%;
}

.intro-content::after {
  content: "";
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%; 
  height: 64px;
  background-color: teal;
  transform: translateY(-50%);
}

}*/


/* Intro Icon Columns */

.intro-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.5%;
  margin-top: 2em;
}

.icon-col {
  flex-grow: 1;
  flex-basis: 250px;
  text-align: center;
  background: #ffffff99;
  box-sizing: border-box;
  padding: 20px 10px;
  border: solid 6px teal;
  border-radius: 20px;
  margin-top: 0em;
  margin-bottom: 0em;
  -webkit-box-shadow: 6px 6px 6px 0 rgba(0,0,0,.12);
  box-shadow: 6px 6px 6px rgba(0,0,0,.12);
}

.icon-col i {
  color: #24334c;
}

.icon-col-heading {
  font-size: 1.8em;
  font-weight: 600;
}


@media (max-width: 991.98px) {
.centered {
  text-align: center;
}

.about-links {
  flex-direction: row !important;
  flex-wrap: wrap;
  column-gap: 0.4em;
  justify-content: center !important;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.8em;
}
}

.quarto-listing-default {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow: auto;
  flex-wrap: wrap;
}
div.quarto-post .metadata {
  display: none;
}


#listing-site-listings,
#listing-site-listings-2 {
  position: relative;
  padding-top: 14px;
  margin-right: 0 !important;
}

/*
#listing-site-listings-2 .quarto-grid-item,
#listing-site-listings .quarto-grid-item{
  background: $white;
}*/




/* INDEX features */

.features {
  padding-top: 0em;
  padding-bottom: 2em;
}

.feature {
  margin-top: 20px;
  padding: 10px 10px 20px 30px;
  border-radius: 0px;
  border: solid 6px #d3d3d3;
  align-items: center;
  background-color: #ffffff;
  background-image: url("assets/bg-topo-white.png");
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: difference;
}

@media (hover: hover) {
.quarto-grid-item:hover {
    transform: scale(1.02);
    color: inherit;
    transition: width, height, 0.2s ease-in-out;
    -webkit-box-shadow: 6px 6px 6px 0 rgba(0,0,0,.08);
    box-shadow: 6px 6px 6px rgba(0,0,0,.08);
}}


/* SLIDE IN ANIMATION */

.slide-in {
  opacity: 0; /* Initially hidden */
  transform: translateY(-100%); /* Initially off-screen from the top */
  animation: slideIn 700ms forwards; /* Animation duration and fill mode */
}

@keyframes slideIn {
  0% {
    opacity: 0; /* Start with opacity 0 */
    transform: translateY(-100%); /* Start off-screen from the top */
  }
  
  100% {
    opacity: 1; /* End with opacity 1 */
    transform: translateY(0); /* Slide in to 0px from the top */
  }
}



@media (min-width: 800px) { 
.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 0 -30px;
  width: calc(100% + 30px);
}
.feature {
  width: calc(50% - 30px);
  margin: 20px 0 0 30px;
}


.feature h3 {
  font-size: 1.7rem;
}

}

.feature h3 {
  margin-top: 4%;
}

.feature .fa-solid {
  padding-right: 6px;
  color: $blue-5;
}

.feature p:first-of-type {
  margin-bottom: 0.2rem;
  color: rgb(84, 85, 85);
}



.content-block h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}


.learn-more {
  font-size: 0.8em;
  padding-top: 10px;
}



// FOOTER


@media (max-width: 767.98px) {
#footer-tab .columns {
  display: flex;
  flex-direction: column-reverse;
  gap: 1em;
}
  
  #footer-tab .column {
  width: 100%;
}
}

#footer-tab .columns {
  display: flex;
  justify-content: space-between;
}


#footer-tab {
  position: relative;
  margin-top: 3em;
  margin-bottom: -4.5em;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}

#footer-tab img {
  max-width: 200px;
}

#footer-tab a {
  color: #466393;
  font-weight: 600;
  text-decoration: none;
}

#footer-tab p {
  margin-bottom: 0;
}

#footer-tab::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(-50vw + 50%);
  width: 100vw;
  height: 100%;
  z-index: -1;
  overflow-x: hidden;
  background-blend-mode: difference;
  background-image: url("assets/bg-dots.png");
  background-attachment: scroll;
  background-size: cover;
  background-position: center 30%;
  opacity: 0.45;
}


.nav-footer {
  padding-top: 0.5em;
  padding-bottom: 0em;
  background: white;
  border-top: solid 1px lightgray;
}

#quarto-margin-sidebar {
  background: #ededed; /*rgba(211, 230, 232);*/
  padding-left: 24px;
}

@media (max-width: 767.98px) {
  
.nav-footer-center {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.nav-footer .nav-footer-right {
  font-size: 1.5em;
  padding: 2px 20px;
  margin-bottom: 0em;
  margin-top: 0em;
}
  
.nav-footer {
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 2em;
}
  
}





// ICONS & Buttons

.btn {
  box-shadow: 3px 4px 0px indianred;
  font-weight: 600;
}

.fa-solid {
  color: $dark-green;
}

.fa-brands {
  padding-right: 10px;
}

.gprev,
.gnext {
  background: green !important;
}

.consultant-info {
  margin-right: 0px;
  background: transparent;
  backdrop-filter: blur(2px);
}


.headshot {
  margin-top: 20px;
}


@media screen and (max-width: 991.98px) {
  .intro-banner,
  .about {
    flex-direction: column;
  }
}



// GALLERY 


.glightbox-mobile .glightbox-container .gslide-desc a {
  color: black !important;
  font-weight: 700;
}

.glightbox-mobile .glightbox-container .gslide-title {
color: black !important;
}
.glightbox-clean .gslide-title {
margin-bottom: 0 !important;
}



.gallery {
    margin-top: 2em;
    line-height:0;
    -webkit-column-count: 2;
    -webkit-column-gap:   28px;
    -moz-column-count:    2;
    -moz-column-gap:      28px;
    column-count:         2;
    column-gap:           28px;
}

.gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 16px;
    transition: filter 2s;
    border: 1px solid lightgray;
    border-radius: 0;
    box-shadow: 5px 5px 8px -4px rgba(0, 0, 0, 0.15);
}

.gallery img:hover {
    filter: none;
    transform: scale(1.02);
}

.glightbox-clean .gclose {
  background: red !important;
}

@media (max-width: 1200px) {
    .gallery {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 1000px) {
    .gallery {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
      -webkit-column-gap:   10px;
      -moz-column-gap:      10px;
      column-gap:           10px;
    }
    
    .gallery img {
      width: 100% !important;
      height: auto !important;
      margin-bottom: 0px;
      transition: filter 2s;
      border: 1px $dark-green solid;
      border-radius: 0;
                  }
                  
    .gallery .figure-caption {
      display: none;
    }
}
@media (max-width: 700px) {
    .gallery {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}
@media (max-width: 400px) {
    .gallery {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}


.alt-background {
  background-color: #f8f8f8;
  border: 1px solid #dee2e6;
  border-radius: 20px;
}
