
//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #2780e3 !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #ff0039 !default;
$orange:  #f0ad4e !default;
$yellow:  #ff7518 !default;
$green:   #3fb618 !default;
$teal:    #005c5d !default;
$cyan:    #9954bb !default;
$tan:     #D2B48C !default;

$primary:       $black !default;
$secondary:     $white !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$min-contrast-ratio:   2.6 !default;

// Options

$enable-rounded: false !default;

// Body

$body-color: $gray-100 !default;
$content-padding-top: 0 !default;


// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif: "Anek","Lato", "Overpass"  ,"Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;  /*"Atkinson Hyperlegible",*/

$headings-font-weight:      400 !default;

// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-root:              17px !default;
$font-size-base:              1.00rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.90 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;

$line-height-base:            1.8 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;

$h2-font-size:                $font-size-base * 1.9 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

// scss-docs-end font-variables

// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

// Navbar

// scss-docs-start navbar-variables
$navbar-padding-y:                  $spacer * 0.01 !default;
$navbar-padding-x:                  0 !default;

$navbar-nav-link-padding-x:         .5rem !default;
$navbar-nav-link-padding-y:         .5rem !default;

/*$navbar-brand-font-size:            $font-size-base * 1.50 !default;*/
$navbar-brand-margin-end:           0px !default;

// Callouts

$callout-color-note: $red;
$callout-color-tip: $red;
$callout-color-caution: $red;
$callout-color-warning: $red;
$callout-color-important: teal;

// Alerts

$alert-border-width:            0 !default;

// Progress bars

$progress-height:               .5rem !default;


/*-- scss:rules --*/


// Variables

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Fira+Code&family=Sen:wght@400;700;900&family=Nunito:wght@400;700;900&family=Anek:wght@400;600;700;900&&family=Segoe+UI:wght@400;600;900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Oswald');


// Typography

body {
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none !important;
  overflow-x: hidden;
  font-family: Anek, Nunito, sans-serif;
  background: #0f172a;
}


h1 {
  font-weight: 900;
  font-size: clamp(1.8em, 5vw, 2.9em);
  padding-bottom: 0em;
  line-height: 1.1em;
  font-family: Oswald;
}

.title {
  margin-bottom: 15px !important;
}

h2 {
  color: #e1bb48;
}

.description {
  color: gray;
  line-height: 1.4em;
}

.subtitle {
  line-height: 1.2em;
  font-size: clamp(1.2em, 4vw, 1.5em);
  letter-spacing: 0.01em;
  color: #35d290;
}


.abstract-title {
  margin-bottom: 0.5em;
}

.abstract a {
  color: skyblue;
}

/*.abstract {
  font-size: 1.0em;
  font-weight: 400;
  margin: auto;
  max-width: 900px;
}*/

#toc-title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

code {
  background: lightblue;
  border-radius: 4px;
  color: #23324b;
}

b, strong {
  color: #35d290;
}

div.sourceCode {
  background: white;
  border: solid #0b736670 2px;
}


.blockquote {
    font-size: 1.2rem;
    background: #c5c6e6;
    }
blockquote {
    border-left: .25rem solid #35d290;
    }

a {
  color: #35d290;
}


// Indicators

.badge {
  &.bg-light {
    color: $tan;
  }
}

// Progress bars

.progress {
  @include box-shadow(none);

  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}


// Navbar

.navbar {
  /*box-shadow: 0px 1.2px 3.6px rgba(0,0,0,.108),0px 6.4px 14.4px rgba(0,0,0,.132);*/
	padding-left: 0 !important;
	padding-right: 0 !important;
	border-bottom: solid 3px #1e293b;
	background: rgba(15, 23, 42, 0.9);
	backdrop-filter: blur(8px);
	height: 65px;
  }

.navbar-brand span {
  font-weight: 600 !important;
  letter-spacing: 0.04em;
  font-size: 1.60rem;
  color: #fbfbfc;
  font-family: Oswald;
  }

.navbar-logo {
  padding: 1px;
  margin: 10px;
  max-height: 40px;
  border: solid 1px white;
  }

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
--bs-gutter-x: 0rem;
}

.navbar-toggler-icon {
  width: 1.0em;
  height: 1.0em;
}

  .navbar-nav .dropdown-menu {
    min-width: 0;
  }
  

  
  
// Navbar - MOBILE ONLY

@media (max-width: 991.98px) {
  
  .navbar {
  box-shadow: none;
}
  
  /* Social media icons */
  ul.navbar-nav:nth-child(1) .nav-link {
    font-size: 1.1rem;
      }
      
    .navbar .navbar-toggler {
      height: 40px;
      border: solid 2px #2b8aff;
      padding-bottom: 3px;
      background: #051933;
      border-radius: 4px;
      padding-left: 5px;
      padding-right: 5px;
    } 
      
      .aa-SubmitIcon {
        width: 26px;
        height: 26px;
        margin-top: -0.1em;
      }
      
    ul.navbar-nav:nth-child(1) {
    flex-direction: column;
    padding: 10px 20px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: right;
    text-align: center;
    }
    
    .navbar-container {
      flex-direction: row-reverse;
    }
      
    .navbar-brand-container {
      max-width: 100%;
    }
  
.quarto-navbar-tools {
      display: none !important;
    } 
    
    .navbar .navbar-collapse {
    background: black;
}
  
}



// SIDEBAR

@media (max-width: 991.98px) {
  
  .quarto-page-breadcrumbs {
    color: #000;
  }
  
  .quarto-secondary-nav nav.quarto-page-breadcrumbs a {
    color: #000;
    }
  
  .quarto-secondary-nav nav.quarto-page-breadcrumbs ol.breadcrumb {
    overflow: hidden;
    flex-wrap: nowrap;
    }
  
  .quarto-secondary-nav nav.quarto-page-breadcrumbs {
    display: flex;
    align-items: center;
    padding-right: 1em;
    margin-left: -0.25em;
    flex-wrap: nowrap;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;  /*Hide overflow content */
  }
}

.quarto-secondary-nav .quarto-btn-toggle {
  color: #2b8aff;
  font-size: 1.2rem;
  
}

.bi-layout-text-sidebar-reverse::before {
  content: "\F474";
}

.bi-search::before {
  content: "\f52a";
}


/* Search bar in side nav*/
.mt-2 {
  margin-bottom: 10px;
}

@media (max-width: 991.98px) {
  nav.quarto-secondary-nav {
    border-bottom: 0;
    background: white;
    box-shadow: 0px 1.2px 3.6px rgba(0,0,0,0.108),
	0px 6.4px 14.4px rgba(0,0,0,0.132);
	  height: 45px;
  }
  
  .d-flex {
    height: 45px;
  }
}

.sidebar.sidebar-navigation > * {
  padding-top: 0em;
}

.mt-1 > li:nth-child(1) > span:nth-child(1) {
  font-weight: bold;
  opacity: 0.8;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 2.0;
}

// HEADER
/*
.quarto-title-banner {
  background: none;
  padding: 0 !important;
  margin-bottom: 0 !important;
}*/

#title-block-header {
  padding-bottom: 20px;
}

.keywords {
  display: none;
}


// NAVIGATION

.page-navigation {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.pagination {
  margin-top: 2.5em;
}

.nav-page .pagination-link {
  background: #1e293b;
  border-radius: 20px;
  padding: 0px 10px;
}


// TABLES

  .rt-search {
    width: 100% !important;
    margin-top: 1.0em !important;
    margin-bottom: 1.5em !important;
    border: solid 1px blue !important;
    background: #7bcce63d !important;
  }

  .rt-no-data {
    color: red !important;
    left: 50% !important;
  }


// CALLOUTS

.callout {
  background: white;
}

.callout li {
  margin-top: 1em;
}

/*
.callout:last-of-type {
  margin-bottom: -2em !important;
}*/

// LISTINGS


.quarto-listing {
  padding-top: 0.8em;
}


.quarto-listing-filter {
  margin-bottom: 2em;
  width: 49.5%;
  margin-left: auto;
}

.quarto-listing-sort {
  margin-bottom: 2em;
  width: 49.5%;
  margin-right: auto;
}


.quarto-grid-item .listing-categories {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
  gap: 5px;
  padding-top: 10px;
}

.quarto-grid-item {
  border-radius: 4px;
  overflow: hidden;
  background: #152035;
  /*-webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.1);
  box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.1);
  flex-direction: column;*/
}


    @media (max-width: 700px) {
      .quarto-grid-item {
        flex-direction: column;
      }
    }

.quarto-grid-item .card-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.quarto-grid-item .card-subtitle {
  line-height: 1.3;
  color: gray;
}

.quarto-grid-item p.card-img-top {
  padding: 0px;
}

.quarto-grid-item p.card-img-top>img {
    border-radius: 5px;
    min-height: 200px;
    overflow-clip-margin: unset;
    overflow: hidden;
}

/*
.listings-gallery .grid {
  row-gap: 2.6em;
  column-gap: 1.2em;
}*/

.listings-gallery .quarto-grid-item div.post-contents {
  padding: 5px 10px 0 10px !important;
  overflow: hidden;
}


.listings-gallery h5 {
  font-size: 0.9em !important;
  text-align: center;
  opacity: 1.0 !important;
  padding: 0;
  margin: 0;
  font-weight: 300 !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}



/* FIGURES & IMAGES */

.image-bordered {
  border-radius: 0px !important;
  border: solid 1px black;
}


.quarto-figure > figure {
    margin-top: 1.5em;
    }

figure > figcaption {
  margin: -5px 10px 0px 0px;
  font-size: 0.7rem;
  text-align: center;
  opacity: 0.5;
}

/*
.img-fluid,
.figure-img {
  border-radius: 4px;
  box-shadow: -2px 2px 4px 2px lightgray;
}*/

.padded-img {
  padding-top: 2rem;
}


#quarto-content {
  min-height: auto !important;
}

#quarto-content > * {
  padding-top: 50px;
}

main {
  margin-top: 0;
}

.quarto-listing-default {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow: auto;
  flex-wrap: wrap;
}
div.quarto-post .metadata {
  display: none;
}



/* INDEX features */

.features {
  padding-top: 0em;
  padding-bottom: 2em;
}

.feature {
  margin-top: 20px;
  padding: 10px 10px 20px 30px;
  border-radius: 0px;
  border: solid 6px #d3d3d3;
  align-items: center;
  background-color: #ffffff;
  background-image: url("assets/bg-topo-white.png");
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: difference;
}

@media (hover: hover) {
.quarto-grid-item:hover {
    color: inherit;
    transition: width, height, 0.1s ease-in-out;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.38);
    box-shadow: 0 2px 5px rgba(0,0,0,.38);
    transform: scale(1.005);
    border-bottom: solid $blue;
}}


@media (min-width: 800px) { 
.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 0 -30px;
  width: calc(100% + 30px);
}
.feature {
  width: calc(50% - 30px);
  margin: 20px 0 0 30px;
}


.feature h3 {
  font-size: 1.7rem;
}

}

.feature h3 {
  margin-top: 4%;
}

.feature .fa-solid {
  padding-right: 6px;
}

.feature p:first-of-type {
  margin-bottom: 0.2rem;
  color: rgb(84, 85, 85);
}



.content-block h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}


.learn-more {
  font-size: 0.8em;
  padding-top: 10px;
}



// FOOTER

/*
@media (max-width: 767.98px) {
#footer-tab .columns {
  display: flex;
  flex-direction: column-reverse;
  gap: 1em;
}
  
  #footer-tab .column {
  width: 100%;
}
}

#footer-tab .columns {
  display: flex;
  justify-content: space-between;
}


#footer-tab {
  position: relative;
  margin-top: 3em;
  margin-bottom: -4.5em;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}

#footer-tab img {
  max-width: 200px;
}

#footer-tab a {
  color: #466393;
  font-weight: 600;
  text-decoration: none;
}

#footer-tab p {
  margin-bottom: 0;
}

#footer-tab::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(-50vw + 50%);
  width: 100vw;
  height: 100%;
  z-index: -1;
  overflow-x: hidden;
  background-blend-mode: difference;
  background-image: url("assets/bg-dots.png");
  background-attachment: scroll;
  background-size: cover;
  background-position: center 30%;
  opacity: 0.45;
}
*/

.nav-footer {
  padding-top: 0.5em;
  padding-bottom: 0em;
  color: white;
  background: #051933;
}

.nav-footer a {
  color: #35d290;
  text-decoration: none;
}

.nav-footer a:hover {
  color: gray;
}

.cookie-consent-footer {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 17px;
}

.nav-footer-center > p:nth-child(1) {
    margin-bottom: 0rem;
    }


@media (max-width: 1000px) {
  
.nav-footer-center {
  margin-bottom: 0em;
  margin-top: 0.5em;
}

.nav-footer .nav-footer-right {
  font-size: 1.8em;
  padding: 2px 20px;
}
  
.nav-footer {
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 2em;
  gap: 0.5em
}
  
}





// ICONS & Buttons

.bi-1-square,
.bi-2-square,
.bi-3-square,
.bi-4-square,
.bi-5-square,
.bi-6-square,
.bi-7-square,
.bi-house-fill {
padding-right: 6px;
}


.fa-brands {
  padding-right: 10px;
}

.gprev,
.gnext {
  background: green !important;
}


// GALLERY 


.glightbox-mobile .glightbox-container .gslide-desc a {
  color: black !important;
  font-weight: 700;
}

.glightbox-mobile .glightbox-container .gslide-title {
color: black !important;
}
.glightbox-clean .gslide-title {
margin-bottom: 0 !important;
}



.gallery {
    margin-top: 2em;
    line-height:0;
    -webkit-column-count: 2;
    -webkit-column-gap:   28px;
    -moz-column-count:    2;
    -moz-column-gap:      28px;
    column-count:         2;
    column-gap:           28px;
}

.gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 16px;
    transition: filter 2s;
    border: 1px solid lightgray;
    border-radius: 0;
    box-shadow: 5px 5px 8px -4px rgba(0, 0, 0, 0.15);
}

.gallery img:hover {
    filter: none;
    transform: scale(1.02);
}

.glightbox-clean .gclose {
  background: red !important;
}

@media (max-width: 1200px) {
    .gallery {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 1000px) {
    .gallery {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
      -webkit-column-gap:   10px;
      -moz-column-gap:      10px;
      column-gap:           10px;
    }
    
    .gallery img {
      width: 100% !important;
      height: auto !important;
      margin-bottom: 0px;
      transition: filter 2s;
      border: 1px green solid;
      border-radius: 0;
                  }
                  
    .gallery .figure-caption {
      display: none;
    }
}
@media (max-width: 700px) {
    .gallery {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 400px) {
    .gallery {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}

// APPENDEX

.quarto-appendix-citeas {
  background: #1e293b;
  padding: 12px;
  border-radius: 6px;
  margin-top: 12px;
}





// RESUME ELEMENTS

    .resume-container {
        display: flex;
        align-items: flex-start;
        background: rgba(255,255,255,0.6);
        align-items: center;
        padding: 20px;
        border-radius: 8px;
        gap: 24px;
        margin-bottom: 1.2em;
        -webkit-box-shadow: 4px 4px 4px 0 rgba(0,0,0,.1);
        box-shadow: 4px 4px 4px 0 rgba(0,0,0,.1);
        border: 1px solid #46639355;
    }
  
    .resume-item {
        display: flex;
        flex-direction: column;
    }
  
    .employer {
        font-weight: bold;
        font-size: 1.2em;
    }
  
    .cv-date {
        color: #555;
    }
  
    .position {
        font-style: italic;
        color: teal;
        font-size: 1.1em;
    }
  
    .description {
        margin-top: 10px;
        margin-bottom: 10px;
    }
  
    .profile-image {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    
// RESUME ELEMENTS - MOBILE ONLY 

@media (max-width: 991.98px) {
  .resume-container {
        flex-direction: column;
        text-align: center;
    }
}


