<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner Page</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #uni-banner-img {
            width: 100%;
            min-height: 250px;
            height: calc(32.5vh - 60px);
            display: block;
            object-fit: cover;
            object-position: 50% 25%;
            opacity: 0.85;
        }

    </style>
</head>

<body>
    <img id="uni-banner-img" src="https://images-assets.nasa.gov/image/PIA10620/PIA10620~orig.jpg" alt="Banner Image">
</body>

</html>
