<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner Page</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        
        #uni-banner {
            background: #fff;
            background-image: url(https://images-assets.nasa.gov/image/PIA10620/PIA10620~orig.jpg);
            background-size: cover;
            background-attachment: scroll;
            position: relative;
            overflow: hidden;
            min-height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        
        #uni-banner > svg {
            display: inline-block;
            vertical-align: bottom;
            transform-origin: bottom;
            filter: drop-shadow(0 -4px #2b8aff);
            animation: animateWave 1500ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
            margin-bottom: -1px;
        }
        
        @keyframes animateWave {
              0% {
                transform: scale(1,0);
              }
              100% {
                transform: scale(1,1);
              }
        }

    </style>
</head>

<body>
  <div id="uni-banner">
<svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 130" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(15, 23, 42, 1)" offset="0%"></stop><stop stop-color="rgba(15, 23, 42, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,13L205.7,104L411.4,91L617.1,65L822.9,65L1028.6,117L1234.3,91L1440,13L1645.7,65L1851.4,117L2057.1,0L2262.9,39L2468.6,117L2674.3,91L2880,91L3085.7,0L3291.4,13L3497.1,0L3702.9,78L3908.6,91L4114.3,39L4320,65L4525.7,26L4731.4,52L4937.1,78L4937.1,130L4731.4,130L4525.7,130L4320,130L4114.3,130L3908.6,130L3702.9,130L3497.1,130L3291.4,130L3085.7,130L2880,130L2674.3,130L2468.6,130L2262.9,130L2057.1,130L1851.4,130L1645.7,130L1440,130L1234.3,130L1028.6,130L822.9,130L617.1,130L411.4,130L205.7,130L0,130Z"></path></svg>
    </div>
</body>

</html>
