/*
#title-block-header {
  display: none;
}*/

#intro-section {
  text-align: center;
  font-weight: 300;
  font-size: 1.7em;
  color: #000;
  margin-bottom: 20px;
  line-height: 1;
}

#intro-section strong {
  font-weight: 700;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #e7e7e7;
  border-radius: 20px;
  height: 55px;
  overflow: hidden;
  gap: 25px;
}

.item {
  flex: 0 0 100%;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  justify-content: center;
  align-items: center;
  animation: scroll 10s linear infinite;
  font-size: 0.9em;
}

.fa-solid {
  color: #e64946;
}


@keyframes scroll {
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(-620%); /* Adjust based on the number of items */
  }
}