/* css styles */

.subtitle {
  line-height: 1.1em;
  font-weight: 200;
}

.abstract {
  background: #dee2e6;
  padding: 8px 8px;
  font-size: 0.9em;
}

.abstract .block-title {
  margin-top: 0 !important;
}


.navbar {
  border-bottom: solid 1px lightgray;
  --bs-navbar-padding-y: 0.1em;
}

#quarto-header::before {
  content: "Benjamin W. Tjepkes";
  display: block;
  width: 100%;
  height: fit-content;
  padding: 15px 30px;
  text-align: left;
  font-size: 1.2em;
  color: #fbfbfc;
  text-shadow: 1px 1px rgba(15,23,42,.85);
  font-optical-sizing: auto;
  background-color: #123c69;
  background-image: url("../assets/repeatable-treeline.png");
  background-position: center 50%;
  background-size: cover;
  font-family: "Meddon", cursive;
  font-weight: 200;
  font-style: normal;
  }
  
  @media (max-width: 991.98px) {
    #quarto-header::before {
      text-align: center;}
      
    .navbar #quarto-search {
      display: none;
    }
    }

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 0 !important;
}

.navbar-toggler-icon {
  width: 1.3em;
  height: 1.3em;
}

/*// META*/

#title-block-header.quarto-title-block.default .quarto-title-meta {
  display: grid;
  grid-template-columns: 45% 1fr 1fr;
  grid-column-gap: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

#title-block-header.quarto-title-block.default .quarto-title-meta > * {
  /*background: #e6e5e0;*/
  background: #dee2e6;
  padding: 4px 8px;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
  margin-top: 0 !important;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents {
  font-size: 0.75em;
}

/*// LISTING*/


.quarto-listing {
  padding-top: 0.8em;
}


.quarto-listing-filter {
  margin-bottom: 2em;
  width: 49.5%;
  margin-left: auto;
}

.quarto-listing-sort {
  margin-bottom: 2em;
  width: 49.5%;
  margin-right: auto;
}

/*// SLIDES */

.slide-deck {
  border: 3px solid #dee2e6;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-top: 1em;
}

.slide-deck-4x3 {
  border: 3px solid #dee2e6;
  width: 100%;
  aspect-ratio: 4 / 3;
  margin-top: 0.5em;
}


/*// FOOTER*/

.nav-footer {
  flex-direction: column;
  align-content: center;
}


/*// APPENDEX*/

.giscus {
  padding-top: 0 !important;
  margin-top: 20px;
  margin-bottom: 1em;
}

.footnotes {
  text-align: left;
}

.quarto-appendix-citeas {
  padding: 12px;
  border-radius: 6px;
  margin-top: 12px;
  background: #dee2e6;
  text-align: left;
}

.quarto-appendix-contents {
  margin-top: 40px;
}