/* css styles */

h2:first-of-type {
    margin-top: 2rem !important;
  }

#quarto-content .subtitle {
  line-height: 1.1em;
  font-weight: 200;
  padding: 6px 0;
}

.abstract {
  background: #e9eef4;
  padding: 8px 8px;
  font-size: 0.9em;
  border-radius: 0.2em;
}

.abstract .block-title {
  margin-top: 0 !important;
}

.menu-navbar {
  background-image: revert !important;
  background-color: white;
  padding: 4px 18px;
  
  .container-fluid {
    flex-direction: row-reverse;
  }
}

@media (max-width: 991.98px) {
  .menu-navbar .container-fluid {
    flex-direction: row;
    text-align: center;
  }
 }


.navbar {
  border-bottom: solid 1px lightgray;
  --bs-navbar-padding-y: 0.4em;
  background-color: #123c69;
  background-image: url("../assets/repeatable-treeline.png");
  background-position: center 50%;
  background-size: cover;
  
  i:not(:hover) {
      color: #fbfbfc;
    }

 #quarto-search {
    margin-left: 1rem;
  }
  
  }

.navbar-brand {
  font-size: 1.2em;
  color: #fbfbfc;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  overflow: visible;
}


.navbar-nav .dropdown-menu {
  min-width: fit-content;
}


  @media (max-width: 991.98px) {
      
    .navbar #quarto-search {
      display: none;
    }
    }

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    --bs-gutter-x: 0 !important;
    }

.navbar-nav {
  --bs-nav-link-padding-y: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
  margin-right: 14px;
}

.navbar-toggler {
  margin-right: 0 !important;
}

.navbar-toggler-icon {
  width: 1.2em;
  height: 1.2em;
}

.keywords {
  display: none;
}


/* GRID ITEMS */

.quarto-grid-item {
  box-shadow: rgba(14, 37, 52, 0.05) 0px 3px 5px 0px, rgba(14, 37, 52, 0.05) 0px 1px 1px 0px;
}

.listings-gallery .quarto-grid-item div.post-contents {
  padding: 5px 10px 5px 10px !important;
  overflow: hidden;
}


.listings-gallery h5 {
  font-size: 0.7em !important;
  text-align: center;
  opacity: 1.0 !important;
  padding: 0;
  margin: 0;
  font-weight: 400 !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}


/* MAPS */

.my-map {
  margin: 2em auto 0em auto;
  min-width: 100%;
  }

.leaflet-control-attribution {
  display: none;
  }


.leaflet-container {
  border: solid 2px lightgray;
  border-radius: 0.5em;
}

/* FIGURES & IMAGES */

.quarto-figure > figure {
    margin-top: 0.5em;
    margin-bottom: 0em;
    }

figure > figcaption {
  margin: 5px 0px 10px 0px;
  font-size: 0.7rem;
  text-align: center;
  opacity: 0.7;
  line-height: 1.2;
}

.img-fluid,
.figure-img,
.quarto-video {
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,.38);
  width: 100%;
}



/*// META*/

#title-block-header.quarto-title-block.default .quarto-title-meta {
  display: grid;
  grid-template-columns: 45% 1fr 1fr;
  grid-column-gap: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

#title-block-header.quarto-title-block.default .quarto-title-meta > * {
  background: #e9eef4;
  padding: 4px 8px;
  border-radius: 0.2em;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
  margin-top: 0 !important;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents {
  font-size: 0.75em;
}

/*// LISTING*/


.quarto-listing {
  padding-top: 0.8em;
}

.quarto-listing-filter {
  margin-bottom: 2em;
  width: 49.5%;
  margin-left: auto;
}

.quarto-listing-sort {
  margin-bottom: 2em;
  width: 49.5%;
  margin-right: auto;
}

/*// SLIDES */

.slide-deck {
  border: 3px solid #dee2e6;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-top: 1em;
}

.slide-deck-4x3 {
  border: 3px solid #dee2e6;
  width: 100%;
  aspect-ratio: 4 / 3;
  margin-top: 0.5em;
}

/* SIDEBAR */

#quarto-margin-sidebar {
  top: 130px !important;
}


/*// FOOTER*/


.page-rows-contents {
  grid-template-rows: [content-top] minmax(max-content, 1fr) [content-bottom] minmax(0px, max-content) [page-bottom];
  }

.nav-footer {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.nav-footer a {
  color: #1f883d;
  text-decoration: none;
}

.nav-footer-center {
  min-height: fit-content;
}


@media (max-width: 1000px) {
  
.nav-footer {
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 2em;
  padding-top: 2em;
  gap: 0.5em
}

.nav-footer-center {
  margin-top: 0 !important;
}
  
}


/*// APPENDEX*/

.giscus {
  padding-top: 0 !important;
  margin-top: 20px;
  margin-bottom: 1em;
}

.footnotes {
  text-align: left;
}

.quarto-appendix-citeas {
  padding: 12px;
  border-radius: 6px;
  margin-top: 12px;
  background: #eaeaed;
  text-align: left;
}

.quarto-appendix-contents {
  margin-top: 40px;
}