.carousel {
    position: relative;
    margin: 0;
  }
  
  .carousel__item {
    height: 280px;
    width: 100%;
    padding: 1em;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px -1px 3px rgba(0,0,0,1.0);
    display: none;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(14, 37, 52, 0.05) 0px 3px 5px 0px, rgba(14, 37, 52, 0.05) 0px 1px 1px 0px;
  }
  
  .carousel__item--selected {
    display: block;
    animation: fadeIn 5s;
  }
  
  .carousel__nav {
    width: 100%;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #00231f;
  }
  
  .carousel__button {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel__button--selected {
    background: rgba(255, 255, 255, 0.5);
  }