/* css styles */

.navbar {
  border-bottom: solid 1px lightgray;
  --bs-navbar-padding-y: 0.2em;
}

#quarto-header::before {
  content: "Benjamin W. Tjepkes";
  display: block;
  width: 100%;
  height: fit-content;
  padding: 30px 1em;
  text-align: left;
  font-size: 1.5rem;
  color: #fbfbfc;
  text-shadow: 1px 1px rgba(15,23,42,.85);
  font-optical-sizing: auto;
  background-color: #123c69;
  background-image: url("https://btjepkes.github.io/site_libs/bootstrap/assets/repeatable-treeline.png");
  background-position: center 50%;
  background-size: cover;
  font-family: "Homemade Apple", cursive;
  font-weight: 200;
  font-style: normal;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 0 !important;
}

.navbar-toggler-icon {
  width: 1.3em;
  height: 1.3em;
}


#title-block-header.quarto-title-block.default .quarto-title-meta {
  display: grid;
  grid-template-columns: 45% 1fr 1fr;
  grid-column-gap: 0.5em;
}

.navbar-nav {
  font-weight: 600;
}