/* css styles */


/* TEST - NAVBAR */

.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}

/* TEST - DONE */

h1 {
  font-family: "Roboto Slab", serif;
  color: white;
}

h2 {
  border-bottom-width: 2px;
}

/*body {
  background-image: linear-gradient(to bottom,
  #e9eef4 0%,
  rgba(255,255,255,0) 5%,
  #fffbfa 60%, #e9eef4 90%),
  url("https://assets-global.website-files.com/655926fa24195711dbf38624/655926fa24195711dbf38661_vector-grid.svg"), linear-gradient(45deg, #e9eef4 0%, #e9eef4 90%);
  background-position: 50% 0;
  background-repeat: repeat;
  background-size: 800px;
  background-attachment: fixed;
}*/

.subtitle {
  line-height: 1.0;
}

#quarto-content .subtitle {
  line-height: 1.1em;
  font-weight: 200;
  padding: 6px 0;
}

.abstract {
  background: #fff;
  box-shadow: 0px 0px 20px 10px #e9eef4;
  padding: 8px 8px;
  font-size: 0.9em;
  border-radius: 0.2em;
}

.abstract .block-title {
  margin-top: 0 !important;
}

.menu-navbar {
  background: #fff !important;
  padding: 4px 18px;
  
  .container-fluid {
    flex-direction: row;
  }
}

.navbar {
  --bs-navbar-padding-y: 0.25rem;
}

.navbar-brand {
  font-size: 1.2em;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  overflow: visible;
}

.navbar-logo {
  padding: 1px;
  margin: 0 0.2em 0 0;
  max-height: 30px;
  height: 30px;
  border-radius: 2px;
/*  filter: invert(100%);*/
  }


.navbar-nav .dropdown-menu {
  min-width: fit-content;
}


.dropdown-toggle::after {
  vertical-align: .15em !important;
}

  @media (max-width: 991.98px) {
      
    .navbar #quarto-search {
      display: none;
    }
    }

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
  margin-right: 14px;
}

.navbar-toggler {
  margin-right: 0 !important;
}

.navbar-toggler-icon {
  width: 1.2em;
  height: 1.2em;
}

.keywords {
  display: none;
}

.offcanvas-body .nav-item {
  font-family: "Rubik", sans-serif;
}


/* GRID ITEMS */

.quarto-grid-item {
  box-shadow: rgba(14, 37, 52, 0.05) 0px 3px 5px 0px, rgba(14, 37, 52, 0.05) 0px 1px 1px 0px;
  background: #fff;
}

.listings-gallery .quarto-grid-item div.post-contents {
  padding: 5px 10px 5px 10px !important;
  overflow: hidden;
}


.listings-gallery h5 {
  font-size: 0.7em !important;
  text-align: center;
  opacity: 1.0 !important;
  padding: 0;
  margin: 0;
  font-weight: 400 !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}


/* MAPS */

.my-map {
  margin: 2em auto 0em auto;
  min-width: 100%;
  }

.leaflet-control-attribution {
  display: none;
  }
  
#htmlwidget-80f1242798b9934ff938 {
    height: 80vh !important;
    }


.leaflet-container {
  border: solid 2px lightgray;
  border-radius: 0.5em;
}

/* FIGURES & IMAGES */

.quarto-cover-image {
  max-width: 30%;
  float: right;
  margin-left: 8px !important;
  margin-bottom: 6px !important;
}

.quarto-figure > figure {
    margin-top: 0.5em;
    margin-bottom: 0em;
    }

figure > figcaption {
  margin: 5px 0px 10px 0px;
  font-size: 0.7rem;
  text-align: center;
  opacity: 0.7;
  line-height: 1.2;
}

.img-fluid,
.figure-img,
.quarto-video {
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,.38);
  width: 100%;
  border-radius: 1em;
}



/*// META*/

.quarto-title-banner {
  color: black;
}

#title-block-header {
  margin-block-end: 0;
  background: #1b2c31 /*#153557*/;
  background-image: url("https://dnr.wisconsin.gov/sites/default/files/backgrounds/bg_halftone_lgt.png");
/*  background-position: center 50%;
  background-size: 80px;*/
  color: white;
}

#title-block-header.quarto-title-block.default .quarto-title-meta {
  display: grid;
  grid-template-columns: 45% 1fr 1fr;
  grid-column-gap: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

#title-block-header.quarto-title-block.default .quarto-title-meta > * {
  background: #fff;
  padding: 4px 8px;
  border-radius: 0.2em;
  box-shadow: 0px 0px 20px 10px #e9eef4;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
  margin-top: 0 !important;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents {
  font-size: 0.75em;
}

/*// LISTING*/


.quarto-listing {
  padding-top: 0.8em;
}

.quarto-listing-filter {
  margin-bottom: 2em;
  width: 49.5%;
  margin-left: auto;
}

.quarto-listing-sort {
  margin-bottom: 2em;
  width: 49.5%;
  margin-right: auto;
}

/*// SLIDES */

.slide-deck {
  border: 3px solid #dee2e6;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-top: 1em;
}

.slide-deck-4x3 {
  border: 3px solid #dee2e6;
  width: 100%;
  aspect-ratio: 4 / 3;
  margin-top: 0.5em;
}

/* SIDEBAR */

#quarto-margin-sidebar {
  padding-top: 40px;
}


/* TABSET */

.tab-content {
  background: #e9eef4;
}

.nav-tabs .nav-link.active {
  background: #e9eef4;
}


/*// FOOTER*/


.page-rows-contents {
  grid-template-rows: [content-top] minmax(max-content, 1fr) [content-bottom] minmax(0px, max-content) [page-bottom];
  }


.footer {
  font-size: 15px;
}

.nav-footer a {
  color: #1f883d;
  text-decoration: none;
}

.nav-footer-center {
  min-height: fit-content;
}


@media (max-width: 1000px) {
  
.footer {
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 1em;
  padding-top: 1em;
  gap: 0.8em
}

.footer li {
  font-size: 25px;
}
  
}


/*// APPENDEX*/

.giscus {
  padding-top: 0 !important;
  margin-top: 20px;
  margin-bottom: 1em;
}

.footnotes {
  text-align: left;
}

.quarto-appendix-bibtex {
  background: #fff !important;
  padding: 12px;
  border-radius: 6px;
  margin-top: 12px;
  
  code.sourceCode {
  white-space: break-spaces !important;}
}

div.sourceCode{
  background: #FFF;
}


.quarto-appendix-secondary-label {
  margin-top: 30px;
}


.quarto-appendix-citeas {
  padding: 12px;
  border-radius: 6px;
  margin-top: 12px;
  background: #fff;
  text-align: left;
}

.quarto-appendix-contents {
  margin-top: 40px;
}