/* css styles */

#quarto-content .subtitle {
  line-height: 1.1em;
  font-weight: 200;
  padding: 6px 0;
}

.abstract {
  background: #e9eef4;
  padding: 8px 8px;
  font-size: 0.9em;
  border-radius: 0.2em;
}

.abstract .block-title {
  margin-top: 0 !important;
}


.navbar {
  border-bottom: solid 1px lightgray;
  --bs-navbar-padding-y: 0.18em;
}

.navbar-nav .dropdown-menu {
  min-width: fit-content;
}

#quarto-header::before {
  content: "Benjamin W. Tjepkes";
  display: block;
  width: 100%;
  height: fit-content;
  padding: 16px 30px;
  text-align: left;
  font-size: 1.4em;
  color: #fbfbfc;
/*  text-shadow: 1px 1px rgba(15,23,42,.85);*/
  font-optical-sizing: auto;
  background-color: #123c69;
  background-image: url("../assets/repeatable-treeline.png");
  background-position: center 50%;
  background-size: cover;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
  }
  
  @media (max-width: 991.98px) {
    #quarto-header::before {
      text-align: center;}
      
    .navbar #quarto-search {
      display: none;
    }
    
          .navbar > .container, .navbar > .container-fluid, .navbar > .container-sm, .navbar > .container-md, .navbar > .container-lg, .navbar > .container-xl, .navbar > .container-xxl {
      flex-direction: row-reverse;
      }
      .navbar .navbar-toggler {
      margin-right: 0;
      }
      
      .navbar-collapse {
        max-width: fit-content;
      }
    }

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 0 !important;
}

.navbar-nav {
  --bs-nav-link-padding-y: 0;
}

.navbar-toggler-icon {
  width: 1.2em;
  height: 1.2em;
}

/* GRID ITEMS */

.quarto-grid-item {
  box-shadow: rgba(14, 37, 52, 0.05) 0px 3px 5px 0px, rgba(14, 37, 52, 0.05) 0px 1px 1px 0px;
}


/* FIGURES & IMAGES */

.leaflet-container {
  border: solid 2px lightgray;
  border-radius: 0.5em;
}


.quarto-figure > figure {
    margin-top: 0.5em;
    margin-bottom: 0em;
    }

figure > figcaption {
  margin: 5px 0px 10px 0px;
  font-size: 0.7rem;
  text-align: center;
  opacity: 0.7;
  line-height: 1.2;
}

.img-fluid,
.figure-img,
.quarto-video {
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,.38);
  width: 100%;
}



/*// META*/

#title-block-header.quarto-title-block.default .quarto-title-meta {
  display: grid;
  grid-template-columns: 45% 1fr 1fr;
  grid-column-gap: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

#title-block-header.quarto-title-block.default .quarto-title-meta > * {
  background: #e9eef4;
  padding: 4px 8px;
  border-radius: 0.2em;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
  margin-top: 0 !important;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents {
  font-size: 0.75em;
}

/*// LISTING*/


.quarto-listing {
  padding-top: 0.8em;
}


.quarto-listing-filter {
  margin-bottom: 2em;
  width: 49.5%;
  margin-left: auto;
}

.quarto-listing-sort {
  margin-bottom: 2em;
  width: 49.5%;
  margin-right: auto;
}

/*// SLIDES */

.slide-deck {
  border: 3px solid #dee2e6;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-top: 1em;
}

.slide-deck-4x3 {
  border: 3px solid #dee2e6;
  width: 100%;
  aspect-ratio: 4 / 3;
  margin-top: 0.5em;
}

/* SIDEBAR */

#quarto-margin-sidebar {
  top: 130px !important;
}


/*// FOOTER*/

.nav-footer {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.nav-footer-center {
  display: none;
}

/*.nav-footer a {
  color: #78c86f;
  text-decoration: none;
}*/



@media (max-width: 1000px) {
  
.nav-footer {
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 2em;
  padding-top: 2em;
  gap: 0.5em
}
  
}


/*// APPENDEX*/

.giscus {
  padding-top: 0 !important;
  margin-top: 20px;
  margin-bottom: 1em;
}

.footnotes {
  text-align: left;
}

.quarto-appendix-citeas {
  padding: 12px;
  border-radius: 6px;
  margin-top: 12px;
  background: #eaeaed;
  text-align: left;
}

.quarto-appendix-contents {
  margin-top: 40px;
}