
@media (max-width: 1000px) {
  .index-headshot {
    width: 200px;
    margin-bottom: -50px;
  }
  
  #intro-container {
    text-align: center;
  }
}

#quarto-content > * {
  padding-top: 0;
}


main {margin-top: 0;}
.asp-169 {
  aspect-ratio: 41/18;
  object-fit: cover;
}

.bg-tree {
  background-image: url("assets/repeatable-treeline.png");
  background-position: center 90%;
}

.bg-noise {
  background-image: url("assets/bg-topo-white.png");
  background-position: center 60%;
}


#title-block-header {
  display: none !important;
}


#intro-container {
  padding: 0 0;
   background: #1b2c31;
  background-image: url("https://dnr.wisconsin.gov/sites/default/files/backgrounds/bg_halftone_lgt.png");
  color: white;
  
    h1 {
    font-weight: 700;
    font-size: clamp(1.3em, 5vw, 1.9em);
    line-height: 1.2;
    margin-top: 0.5em;
  }
  
}

.index-latest-posts,
.index-latest-gallery {
  border-radius: 0.25em;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}


.index-latest-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 0px;
}

.index-latest-column {
  flex-basis: calc(50% - 10px);
/*  background: #e9eef4;*/
/*  border-radius: 0.5em;
  border: solid rgba(0, 0, 0, 0.175) 1px;
  box-shadow: rgba(14, 37, 52, 0.05) 0px 3px 5px 0px, rgba(14, 37, 52, 0.05) 0px 1px 1px 0px;*/
  
  h3 {
  text-align: center;
  margin-top: 0em;
}

table.quarto-listing-table a {
  font-weight: 600;
}

thead, tbody, tfoot, tr, td, th {
  border: solid rgba(0, 0, 0, 0.175) 1px ;
}


}

.page-columns .column-body-outset table {
  background: transparent;
}

@media (max-width: 1000px) {
  .index-latest-column {
    flex-basis: 100%;
  }
}


.quarto-grid-item div.post-contents {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

