/* css styles */

/* TYPOGRAPHY */

h1 {
  font-weight: 900;
  font-size: 2rem !important;
}

h2 {
  border-bottom: solid 4px #6ba2bd;
  margin-top: 2.5rem;
  font-weight: 700;
}

h3 {
  font-weight: 500;
}

ol, ul {
  padding-left: 1.5rem;
}

code {
  color: #344757;
  background-color: white;
  padding: 0.08rem 0.25rem;
}


.blockquote p {
  font-size: 22px;
  color: #FFFFFF;
}

pre.sourceCode {
  border: solid 1px;
}

/* ICONS */

div.quarto-about-solana .about-entity .about-links {
  display: flex;
  justify-content: left;
  padding-bottom: 2.5em;
}

/* NAVIGATION */

.headroom-target, header.headroom {
  will-change: transform;
  transition: transform 200ms linear;
  transition: all 200ms linear;
}

.navbar {
  background-color: #344757; /*#137ea7*/
  border: none;
}


.navbar-brand span {
  font-weight: 900;
  font-size: 1.2em;
  letter-spacing: 0.07em;
  color: white;
  background: transparent;
  padding:2px 12px;
  text-transform: uppercase;
  /*font-family: monaco, Monospace;*/
  border-top: solid white 1px;
  border-bottom: solid white 1px;  
}

.navbar-nav .nav-item {
  font-weight: 600;
}


@media (max-width: 991.98px) {
ul.navbar-nav:nth-child(2) {
flex-direction: row;
padding: 10px 0px;
margin: auto;
}

nav .nav-item.compact .nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.5rem;
}


.navbar-collapse {
  display: flex;
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.navbar-nav-scroll {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

/* Search Button and Popup
#quarto-search > div > button > div.aa-DetachedSearchButtonIcon::after {
  content: " - Search Site";
}

#quarto-search > div > button > div.aa-DetachedSearchButtonIcon {
  font-size: 18px;
  padding-bottom: 20px}*/
  
.aa-DetachedContainer--modal {
    border-radius: 6px;
    bottom: inherit;
    height: auto;
    margin: 0 auto;
    max-width: 850px;
    position: absolute;
    top: 40px;
}

.aa-DetachedOverlay {
  background-color: #1f414f88;
  backdrop-filter: blur(20px);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  z-index: 1100;
}

.about-contents {
  padding-right: 0px !important;
}

}

/* HEADERS */
.quarto-title-banner {
  color: #344757;
  text-align: center;
  background: white; /*#9dcbe1*/
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0 0 2px;
}

body {
  backdrop-filter: blur(1px);
  background-color: #f7f5f4;
}


.subtitle {
  font-weight: 400;
  line-height: 1.2;
  padding-top: 20px;
  padding-bottom: 6px;
  color: #696867;
}


.header-section-number {
  margin-right: 20px;
}

/* POSTS */

.quarto-listing-filter {
  margin-bottom: 2em;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}


.quarto-grid-item .listing-categories {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
  gap: 5px;
  padding-top: 10px;
}

.quarto-grid-item {
  background: white;
}

.quarto-grid-item:hover .card-title::after {
  border-top: solid 4px orange;
  width: 18%;
  animation: border-anim 0.2s ease-out forwards;
}

.quarto-grid-item .card-title::after {
  content: "";
  display: block;
  width: 15%;
  border-top: solid 4px #9fc490;
  margin-top: 15px;
}

@keyframes border-anim {
  0% {
    width: 15%;
  }
  100% {
    width: 50%;
  }
}

.quarto-grid-item .card-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.quarto-category {
  background: azure;
  color: black;
  opacity: 1.0;
}

.quarto-title .quarto-categories {
    display: flex;
    justify-content: center;
}

/* FIGURES & IMAGES */

.figure-caption {
  margin: -5px 10px 0px 0px;
  font-size: 0.7rem;
  text-align: right;
}

.img-fluid,
.figure-img {
  border-radius: 4px;
}

.padded-img {
  padding-top: 2rem;
}



/* ABOUT on Index */

.quarto-about-solana {
  margin-top: -2em;
}

.about-link {
  background: white;
}

.about-image {
  animation: pulsate 0.5s ease-out;
  animation-iteration-count: 1;
  border-radius: 6px;
}

@keyframes pulsate {
  0% {
    transform: scale(0.6);
    opacity: 0.7;
  }
  100% {
    transform: scale(1.0);
    opacity: 0.6;
  }
}

#listing-site-listings {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.intro-heading h2 {
  margin-top: 1em !important;
}


#quarto-back-to-top {
bottom: 20px;
left: 50%;
}


.nav-footer {
  padding-top: 1em;
}

@media (max-width: 767.98px) {
.nav-footer-center {
  margin-bottom: 4em;
  margin-top: 0;
}}