/* css styles */




/* TYPOGRAPHY */

h1 {
  font-weight: 900;
  color: whitesmoke;
}

h2 {
  color: #9fc490; /* #9fc490*/
  border-bottom: solid 2px #9fc490;
  margin-top: 3rem;
  font-weight: 700;
}

h3 {
  color: whitesmoke;
  margin-top: 2rem;
}

ol, ul {
  padding-left: 1.5rem;
}

code {
  color: #9fc490;
  padding: 0.08rem 0.25rem;
}

.blockquote p {
  font-size: 22px;
  color: #FFFFFF;
}

/* ICONS */

div.quarto-about-solana .about-entity .about-links {
  display: flex;
  justify-content: left;
  padding-bottom: 2.5em;
}

/* NAVIGATION */
.navbar-brand span {
  font-weight: 600;
  color: #073642;
  background: white;
  padding: 4px 6px 4px 8px;
  text-transform: uppercase;
  font-family: monaco, Monospace;
  font-size: 18px;
}

.navbar-brand::after {
  content: "Portfolio";
  font-weight: 600;
  color: white;
  background: #073642;
  text-transform: uppercase;
  font-family: monaco, Monospace;
  font-size: 18px;
  padding: 2px 8px 2px 8px;
  border: solid white 2px;
  margin: 0 0 0 -5px;
}

@media (max-width: 991.98px) {
ul.navbar-nav:nth-child(2) {
flex-direction: row;
padding: 10px 0px;
margin: auto;
}

nav .nav-item.compact .nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.5rem;
}


.navbar-collapse {
  display: flex;
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.navbar-nav-scroll {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

/* Search Button and Popup*/
#quarto-search > div > button > div.aa-DetachedSearchButtonIcon::after {
  content: " - Search Site";
}

#quarto-search > div > button > div.aa-DetachedSearchButtonIcon {
  font-size: 18px;
  padding-bottom: 20px}
  
.aa-DetachedContainer--modal {
    border-radius: 6px;
    bottom: inherit;
    height: auto;
    margin: 0 auto;
    max-width: 850px;
    position: absolute;
    top: 40px;
}

.aa-DetachedOverlay {
  background-color: #1f414f66;
  backdrop-filter: blur(10px);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  z-index: 1100;
}

}

/* HEADERS */

.quarto-title-banner {
  background-image: url(bg-pine-blue.png);
  background-color: #4eb6d0;
}

.title {
  text-shadow: 4px 2px 3px #0000005c;
}

.subtitle {
  color: #073642;
  font-weight: 600;
  line-height: 1.1;
  padding: 10px 0px;
}


.header-section-number {
  margin-right: 20px;
}


/* SIDEBAR */

.sidebar-navigation .sidebar-item-section:first-of-type {
  color: lightgray;
  font-size: 20px;
}

/* POSTS */

.quarto-listing-filter {
  margin-bottom: 2em;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.quarto-grid-item .listing-categories {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
  gap: 5px;
  padding-top: 10px;
}

.quarto-grid-item .card-title {
  color: whitesmoke;
  font-weight: 600;
  margin-bottom: 10px;
}

.quarto-category {
  background: azure;
  color: black;
  opacity: 1.0;
}

/* FIGURES & IMAGES */

.figure-caption {
  margin: -5px 10px 0px 0px;
  font-size: 0.7rem;
  text-align: right;
}

.img-fluid,
.figure-img {
  border-radius: 4px;
}

.padded-img {
  padding-top: 2rem;
}

/* ABOUT IMAGE on Index */

@media (max-width: 991.98px) {
  .about-image {
    margin-top: -50px;
  }
  
}

.about-image {
  border: solid #4c837d 5px;
  animation: pulsate 0.5s ease-out;
  animation-iteration-count: 1;
}

@keyframes pulsate {
  0% {
    transform: scale(0.6);
    opacity: 0.7;
  }
  100% {
    transform: scale(1.0);
  }
}

#listing-site-listings {
  margin-top: 2em;
}