/* css styles */




/* TYPOGRAPHY */

h1 {
  font-weight: 900;
  color: whitesmoke;
}

h2 {
  color: #9fc490;
  border-bottom: solid 3px #9fc490;
  margin-top: 3rem;
  font-weight: 700;
}

h3 {
  color: whitesmoke;
  font-weight: 600;
  margin-top: 2rem;
}

ol, ul {
  padding-left: 1.5rem;
}

.blockquote p {
  font-size: 22px;
  color: #FFFFFF;
}

/* ICONS */

div.quarto-about-solana .about-entity .about-links {
  display: flex;
  justify-content: left;
  padding-bottom: 2.5em;
}

/* NAVIGATION */
.navbar-brand span {
  font-weight: 600;
  color: #073642;
  background: white;
  padding: 4px 6px 4px 8px;
  text-transform: uppercase;
  font-family: monaco, Monospace;
  font-size: 18px;
}

.navbar-brand::after {
  content: "Portfolio";
  font-weight: 600;
  color: white;
  background: #073642;
  text-transform: uppercase;
  font-family: monaco, Monospace;
  font-size: 18px;
  padding: 2px 8px 2px 8px;
  border: solid white 2px;
  margin: 0 0 0 -5px;
}

@media (max-width: 991.98px) {
ul.navbar-nav:nth-child(2) {
flex-direction: row;
padding: 10px 0px;
margin: auto;
}

nav .nav-item.compact .nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.5rem;
}


.navbar-collapse {
  display: flex;
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.navbar-nav-scroll {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

/* Search Button and Popup*/
#quarto-search > div > button > div.aa-DetachedSearchButtonIcon::after {
  content: " - Search Site";
}

#quarto-search > div > button > div.aa-DetachedSearchButtonIcon {
  font-size: 18px;
  padding-bottom: 20px}
  
.aa-DetachedContainer--modal {
    border-radius: 6px;
    bottom: inherit;
    height: auto;
    margin: 0 auto;
    max-width: 850px;
    position: absolute;
    top: 40px;
}

.aa-DetachedOverlay {
  background-color: #1f414f;
  backdrop-filter: blur(10px);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  z-index: 1100;
}

}

/* HEADERS */

.quarto-title-block .description {
  color: #9fc490;
  font-size: 22px;
  line-height: 1.1;
  font-weight: 600;
  padding: 10px 0px;
}

.abstract {
  font-size: 22px;
  color: whitesmoke;
  line-height: 1.3;
  margin: 40px 0px;
}

.header-section-number {
  margin-right: 20px;
}


/* SIDEBAR */

.sidebar-navigation .sidebar-item-section:first-of-type {
  color: lightgray;
  font-size: 20px;
}

/* POSTS */

.quarto-listing-filter {
  margin-bottom: 2em;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.quarto-grid-item .listing-categories {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
  gap: 5px;
  padding-top: 10px;
}

/* FIGURES & IMAGES */

.figure-caption {
  margin: -5px 10px 0px 0px;
  font-size: 0.7rem;
  text-align: right;
}

.img-fluid,
.figure-img {
  border-radius: 4px;
}

.padded-img {
  padding-top: 2rem;
}

/*.quarto-container {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><defs><linearGradient id='grad'><stop offset='0%' stop-color='rgba(255,255,255,0.3)' /><stop offset='50%' stop-color='rgba(255,255,255,0.5)' /><stop offset='100%' stop-color='rgba(255,255,255,0.8)' /></linearGradient></defs><rect width='100%' height='100%' fill='url(%23grad)' /><g transform='translate(50,50)'><path d='M 50 0 L 150 0 L 200 87 L 150 174 L 50 174 L 0 87 Z' fill='rgba(255,255,255,0.1)' /></g><g transform='translate(100,125)'><path d='M 50 0 L 150 0 L 200 87 L 150 174 L 50 174 L 0 87 Z' fill='rgba(255,255,255,0.2)' /></g><g transform='translate(50,200)'><path d='M 50 0 L 150 0 L 200 87 L 150 174 L 50 174 L 0 87 Z' fill='rgba(255,255,255,0.3)' /></g><g transform='translate(-50,125)'><path d='M 50 0 L 150 0 L 200 87 L 150 174 L 50 174 L 0 87 Z' fill='rgba(255,255,255,0.4)' /></g><g transform='translate(0,62)'><path d='M 50 0 L 150 0 L 200 87 L 150 174 L 50 174 L 0 87 Z' fill='rgba(255,255,255,0.5)' /></g></svg>");
}*/
