.page-columns .column-screen-inset-shaded {
  background: #e6e5e0;
}



/* RESUME ELEMENTS */

    .resume-container {
        display: flex;
        align-items: flex-start;
        /*background: #152035;*/
        background: #e6e5e0;
        align-items: center;
        padding: 20px;
        border-radius: 8px;
        gap: 24px;
        margin-top: 30px;
        margin-bottom: 1.2em;
        -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,.1);
        box-shadow: 2px 2px 2px 0 rgba(0,0,0,.1);
        /*border: solid #d8e0e8 2px;*/
    }
  
    .resume-item {
        display: flex;
        flex-direction: column;
    }
  
    .employer {
        font-weight: bold;
        font-size: 1.2em;
        color: black;
    }
  
    .cv-date {
        color: black;
    }
  
    .position {
        font-style: italic;
        color: #2b8aff;
        font-size: 1.1em;
    }
  
    .cv-description {
        margin-top: 10px;
        margin-bottom: 10px;
        color: black;
    }
  
    .profile-image {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    
  #listing-resume-links {
    margin-bottom: 0px;
  }
   
/* #listing-resume-links .quarto-grid-item {
   box-shadow: inset 10px 10px 5px rgba(0, 0, 0, 0.05);
   border-radius: 20px;
   border: solid lightgray 1px;
 }  */
    
/* RESUME ELEMENTS - MOBILE ONLY */

@media (max-width: 991.98px) {
  .resume-container {
        flex-direction: column;
        text-align: center;
    }
}

